/* 
.modal-container {
    position: fixed;
    width: 60%;
    height: 85%;
    top: 50%;
    left: 50%;
    border-radius: 16px 16px 16px 16px;
    transform: translate(-50%, -50%);
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
}
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}

.modal-info {
    padding: 30px;
    text-align: justify;
    border-radius: 0px 0px 16px 16px;
    background-color: rgb(255, 255, 255);
    height: 100%;
}
.form-modal-container{
    display: flex;
  flex-direction: column;
  width: 30vw;
  padding: 5rem;
  border: 1px solid rgb(239, 248, 245);
  background-image: linear-gradient(rgb(48, 89, 75), rgb(197, 243, 238));
}
.close {
    position: relative;
    width: 20px;
    height: 20px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    float: right;
    text-align: center;
    line-height: 1;
} */